* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FEF1EB;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h3 {
  background: linear-gradient(45deg, rgb(77, 112, 254), rgb(211, 176, 22));
  background-clip: text;
  color: transparent;
}

.img {
  display: flex;
  justify-content: center;
}
.img img{
  width: 100%;
}
.img img:nth-of-type(2) {
  display: none;
}

.btns {
  width: auto;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.btns button {
  width: auto;
  color: white;
  text-align: center;
  padding: 1rem 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.btns .left {
  background: #79BBFF;
  position: relative;
  z-index: 99;
  margin-right: 2.5rem;
}
.left,.right,.hide{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F89898;
  width: auto;
  height: 3rem;
}

.none {
  display: none;
}

.hide {
  background: #F89898;
  position: absolute;
  left: 50%;
  transform: translateX(-2.9rem);
}


/* 电脑设备 */
@media (min-width: 1024px) {
  h3{
    font-size:2vw ;
  }
  .btns button {
    font-size:1vw;
  }
}

/* 平板设备（宽度在 768px - 1024px 之间） */
@media (min-width: 600px) and (max-width: 1024px) {
  img {
    width: 70%;
  }
  h3 {
    font-size: 5vw;
  }
  .btns button {
    font-size: 3vw;
  }
}

/* 手机 */
@media (max-width: 599px) {
  img{
    width: 50%;
  }
  h3{
    font-size:8vw;
  }
  .btns button {
    font-size: 3vw;
  }
  .hide {
    transform: translateX(-2rem);
  }
  
}